@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: SofiaPro;
    src: url(../fonts/sofiapro-light.otf);
}

@font-face {
    font-family: iconos;
    src: url(../fonts/fa-solid-900.ttf);
}



p,a {
    font-family: SofiaPro;
}

h1,h2,h3,button {
    font-family: Gilroy;
}

h4,h5,h6 {
    font-family: PermanentMarker;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin:0;
}

// VARIABLES COLORES

.verde {
    color: $verde;
}

.bg_verde {
    background-color: $verde;
}

.blanco {
    color: white;
}

.bg_blanco {
    background-color: white;
}

.negro {
    color: black;
}

.c {
    color: $c;
}

.bg_c {
    background-color: $c;
}

.m {
    color: $m;
}

.bg_m {
    background-color: $m;
}

.y {
    color: $y;
}

.bg_y {
    background-color: $y;
}

.k {
    color: $k;
}

.bg_k {
    background-color: $k;
}

// VARIABLES COLORES

.margen_top {
    margin-top: 116px;
}

a {

    color: black;

    &:hover {
        color:initial;
        text-decoration: none;
    }
}

.f50 {
    font-size: 50px;
}

// BOTON Y ANIMACIONES 

.boton {

    border: none;
    background-color:$m;
    padding: 12px;
    border-radius: 25px;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    transition: all 250ms;
    color: white;
    z-index: 100;

    &:hover {

        .contenido_boton {
            color: white;
        }

        .c1,.c2,.c3 {
        transform: scale(5);
        }
    }

}


.contenido_boton {
    position: relative;
    z-index: 300;
}

.c1,.c2,.c3 {
    z-index: 200;
    transition: all 250ms;
    transform: scale(0);
    position: absolute;
}

.c3 {
    transition-delay: .02s;
    border: 1px solid $k;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    top: calc(50% - 30px);
    left: calc(50% - 30px);
}


.c2 {
    transition-delay: .05s;
    border: 1px solid $k;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.c1 {
    transition-delay: .1s;
    background-color: black;
    border-radius: 50%;
    border: 5px solid transparent;
    width: 40px;
    height: 40px; 
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

// BOTON Y ANIMACIONES 


header {

    background-color:white;
    box-shadow: -3px 3px 20px $verde;    

    .imagen_logo {

        img {
            width: 360px;
            height: 100px;
        }

    }

    #menu {

        .activo {   
            color: $c;
        }

        a {
            color: transparent;
            background: linear-gradient(95deg,green,black);
            -webkit-background-clip: text;
            transition: all 250ms;
            // font-size: 40px;

           

            &:hover {
                color: $m;
            }
        }

    }

    #redes_contacto {

        .correo {

            .icono {
                transition: all 250ms;
            }

            &:hover {
                .icono {
                    color:$verde;
                }
            }
        }

        .circulo {

            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            color: white;

        }

        .c_facebook,.c_instagram,.c_twitter,.c_skype {

            transition: all 250ms;
        }

        .c_facebook {
            background-color: $k;

            &:hover {
                background-color: $m;
            }
        }

        .c_instagram {
            background-color: $y;

            &:hover {
                background-color: $verde;
            }
        }

        .c_twitter {
            background-color: $c;

            &:hover {
                background-color: $k;
            }
        }

        .c_skype {
            background-color: $m;

            &:hover {
                background-color: $y;
            }
        }

    }

}

#imagenes_principales {

    height: 450px;
    width: 100%;

    .imagen {

        height: 100%;
        overflow: hidden;
        background: linear-gradient(90deg,pink,purple,rgb(77, 0, 128),);

        img {
            width: 100%;
            position: relative;
            top: -160px;
        }
    }

}

#servicios {

    p {
        transition: all 250ms;
    }

    .izquierda {

        color: white;
        background-color: #15212C;
        border-bottom: 8px solid $y;

        h2 {
            font-size: 48px;
        }

        p {
            color: #787f86;
        }        

    }

    .derecha {

        overflow: hidden;

        .icono {
            border-bottom: 8px solid;
            transition: all 250ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .icono1 {
            border-color: $k;

            &:hover { 
                p {
                color: $m;
                }
            }
        }
        
        .icono2 {
            border-color: $y;

            &:hover { 
                p {
                color: $verde;
                }
            }
        }

        .icono3 {
            border-color: $c;

            &:hover { 
                p {
                color: $k;
                }
            }
        }

        .icono4 {
            border-color: $m;

            &:hover { 
                p {
                color: $y;
                }
            }
        }

        .icono5 {
            border-color: $k;

            &:hover { 
                p {
                color: $m;
                }
            }
        }

        .icono6 {
            border-color: $y;

            &:hover { 
                p {
                color: $verde;
                }
            }
        }

        img {
            width: 66px;
            height: 66px;
        }

    }

}

#logos {

    background-color: #F4F6F9;
    height: 118px;

    img {
        width:163px;
        height: 58px;
        opacity: 0.5;
        transition: all 250ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

}

#seccion1 {

    overflow: hidden;


    img {

        height: 250px;

    }

}

#seccion_video {

    height: 620px;

    .imagen {
        width: 100%;
        height: 100%;
        z-index: 100;        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .atenuar_imagen { 
        width: 100%;
        height: 100%;
        background-color: #37343591;
        z-index: 200;
    }

    .contenido {

        z-index: 200;

        h2 {
            font-size: 55px;
        }

        .boton_video {
            width: 75px;
            height: 75px;
            background-color: $y;
            border-radius: 50%;
            transition: all 250ms;
            cursor: pointer;

            .icono {
                color: white;
                font-size: 35px;
                z-index: 500;
            }

            .boton_video2 {
                transition: all 250ms;
                border-radius: 50%;
                background-color: $y;
                width: 100%;
                height: 100%;
                z-index: 400;
            }
    
            .boton_video3 {
                border-radius: 50%;
                width: 200%;
                height: 200%;
                border: 3px solid gray;
                z-index: 300;
            }


            &:hover {
                .boton_video2 {
                    width: calc(200% + 3px);
                    height: calc(200% + 3px);
                }
            }
        }

    }

}

#seccion_testimonios {

    .caja_cards {

        background-color: $verde;

        .cards0 {

            color: white;
            height: 172px;
            background-color: black;
            transition: all 250ms;

            &:hover {
                transform: scale(1.1);
                background-color: rgba(0, 0, 0, 0.795);
            }
        }

        .icono {

            img {
                width: 100%; 
                height: 100%;
            }
        }
        
    }

}

#seccion_videos {

    .card1,.card3,.card4 {

        height: 325px;
        
        .imagen {

            height: 100%;

            img {
             width: 100%;
             height: 100%;
            }    
     
        }

        .titulo_y_parrafo {

            height: 80%;
            overflow: hidden;

            h4 {
                transition: all 350ms;
                margin-top: 75%;
            }
        }

        .caja_boton {

            transition: all 250ms;

            .boton_videos {
                padding: 11px 20px;
                width: 50px;
                color: white;
                height: 50px;
                border-radius: 25px;
                background-color: transparent;
                border: 2px solid white;
                font-size: 20px;
                transition: all 250ms;

                .span,&::after,a {
                    transition: all 250ms;
                }

            }

        }

        &:hover {

            .boton_videos {

                color: $verde;
                background-color: white;

                span {
                    display: none;
                }

                &::after {
                    content: "Ver más";
                    color: black;
                }
            }

            .titulo_y_parrafo {
                h4 {
                    margin-top: initial;
                }
            }

            .fondo {
                background-color: #6fb635ad;
            }
        }

       

    }

    .card1 {

        .fondo {
            transition: all 250ms;
            background: linear-gradient(90deg,$m, transparent);
        }

        &:hover {
            background-color: #6fb635ad;
        }

    }

    .card3 {
        .fondo {
            transition: all 250ms;
            background: linear-gradient(90deg,$c, transparent);
        }

        &:hover {
            background-color: #6fb635ad;
        }
    }

    .card4 {
        .fondo {
            transition: all 250ms;
            background: linear-gradient(90deg,$y, transparent);
        }

        &:hover {
            background-color: #6fb635ad;
        }
    }

}

#seccion_formularios {

    height: 500px;

    .imagen {

        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }

    .contenido {
        
        .icono {
            color: $verde;
        }
    }

}

#seccion_proyectos {

    background-image: url("../images/fondo_proyectos.jpg");

    a {

        height: 270px;
        overflow: hidden;

        .imagen {

            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
    
        }
    
        .fondo_negro {
    
            transition: all 300ms;
            height: 100%;
            width: 100%;
            left: -30%;
    
        }
    
        .contenido {
            transition: 250ms;
            transition-delay: 100ms;
            left: -100%;
            opacity: 0;
            filter: blur(6px);

        }


        &:hover {

            .fondo_negro {
    
                background-color: rgba(0, 0, 0, 0.7);
                height: 100%;
                width: 100%;
                left: 0%;
            }

            .contenido {
                left: 0%;
                opacity: 1;
                filter: none;
            }

        }

    }

    a:last-of-type {
        height:initial;
    }

}

#seccion_faq {

   

    .progress {
        height: 5px;
    }

    .accordion {

        #icono1,#icono2,#icono1 {
            transition: all 250ms;
        }
        

        .activo {
            background-color: $c;
            color: black;
        }

        .mas {

            background-color: white;
            min-width: 35px; 
            min-height: 35px;
            border-radius: 25px;
        }


        button {

            transition: all 250ms;
            background-color: lightgray;
            padding: 15px;
            border: none;

            &:focus {
                outline: none;
            }

            &:hover {

                background-color: $c;

            }

        }





    }

}

#noticias_y_twitter_feed {
    
    background-image: url("../images/fondo_proyectos.jpg");

    .noticia {

        height: 120px;
        overflow: hidden;
        transition: all 250ms;

        .d_m {
            transition: all 250ms;
        }

        .dia {
            font-size: 35px;
        }

        &:hover {
            
            border-radius: 10px;
            box-shadow: -3px 6px 20px grey;

            .d_m {
                transform: scale(1.1);
            }

        }

    }


}

#formulario_contacto {

    height: 400px;

    .direccion_y_telefonos {

        a {
            transition: all 250ms;
            color: black;

            .iconos {
                transition: all 250ms;
            }

            &:hover {

                color: $m;

                .iconos {
                    color: $m;
                }
            }
        }

        .icono {
            font-size: 45px;
        }

        .telefonos {
            margin-left: -32%;
        }
    }

    .formulario {
        background-color: #F4F6F9;

        .color_a_contacto {
            color: $c; 
            transition: all 250ms;

            &:hover {
                color: $m;
            }
        }
    }

}

#mapa {

    width: 100%;
    height: 45vh;
    margin-bottom: -6px

}

footer {

    padding: 20px 0;
    background-color: #1D1D1D;

    a{
        color: $verde; 
        transition: all 250ms;

        &:hover {
            color: $c;
        }
    }

    .logo {

        width: 360px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .circulo {

        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        font-size: 30px;
        background-color: $verde;
        color: white;
        transition: all 250ms;

        &:hover {
            background-color: white;
            color: $verde;
        }

    }

    .cuadro {
        background-color: white; 
        width: 100%;
    }

}

.subir {
    // COLOR DE FONDO
    background-color: white;
    // COLOR DE FONDO

    // COLOR DEL ICONO
    color: $verde;
    // COLOR DEL ICONO

    border: 3px solid $verde;
    display: none;
    transition: all 200ms ease-in-out;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 47px;
    width: 50px!important;
    height: 50px!important;
    border-radius: 25px;
    right: 20px;
    -webkit-box-shadow: -1px 1px 5px 1px grey;
    box-shadow: -1px 1px 5px 1px grey;
    z-index: 1000;
    overflow: hidden;

    .icono {
        // TIEMPO DE TRANSICION DEL ICONO
        transition: all 250ms;
       // TIEMPO DE TRANSICION DEL ICONO
        left: 0;
        top: 0;
    }

    .efecto {
        border-radius: 25px;
        background-color: white;
        opacity: 0;
        // TIEMPO DE TRANSICION DEL FONDO
        transition: all 250ms ease-in-out;
        // TIEMPO DE TRANSICION DEL FONDO
        top: 0;
        left: -25px;
        transform: scale(0);

    }

    &:hover {

        border: 3px solid white;

        .efecto {
            // COLOR DE FONDO CON HOVER
            background-color: $verde;
            // COLOR DE FONDO CON HOVER
            height: 58px;
            padding: 33px;
            opacity: 1;
            transform: scale(2);
        }

        .icono {
            // COLOR DEL ICONO CON HOVER
            color: white;
            // COLOR DEL ICONO CON HOVER
            animation: icono 300ms ease-in-out;
        }

        @keyframes icono {
            0% {
                filter: none;
            }

            50% {
                filter: blur(10px);
            }

            100% {
                filter: none;
            }

        }
       
        
    }
}

.subir2 {
        // COLOR DE FONDO
        background-color: white;
        // COLOR DE FONDO
    
        // COLOR DEL ICONO
        color: $y;
        // COLOR DEL ICONO
    
        border: 3px solid $y;
    
        .efecto {

            background-color: white;
      
        }
    
        &:hover {
    
            border: 3px solid white;
    
            .efecto {
                // COLOR DE FONDO CON HOVER
                background-color: $y;
                // COLOR DE FONDO CON HOVER
            }
    
            .icono {
                // COLOR DEL ICONO CON HOVER
                color: white;
                // COLOR DEL ICONO CON HOVER
            }

        }
}

.subir3 {
    // COLOR DE FONDO
    background-color: $white;
    // COLOR DE FONDO

    // COLOR DEL ICONO
    color: black;
    // COLOR DEL ICONO

    border: 3px solid black;

    .efecto {

        background-color: black;
  
    }

    &:hover {

        border: 3px solid white;

        .efecto {
            // COLOR DE FONDO CON HOVER
            background-color: black;
            // COLOR DE FONDO CON HOVER
        }

        .icono {
            // COLOR DEL ICONO CON HOVER
            color: white;
            // COLOR DEL ICONO CON HOVER
        }

    }
}

.subir4 {
    // COLOR DE FONDO
    background-color: $c;
    // COLOR DE FONDO

    // COLOR DEL ICONO
    color: white;
    // COLOR DEL ICONO

    border: 3px solid white;

    .efecto {

        background-color: white;
  
    }

    &:hover {

        border: 3px solid $c;

        .efecto {
            // COLOR DE FONDO CON HOVER
            background-color: white;
            // COLOR DE FONDO CON HOVER
        }

        .icono {
            // COLOR DEL ICONO CON HOVER
            color: $c;
            // COLOR DEL ICONO CON HOVER
        }

    }
}

.subir5 {
    // COLOR DE FONDO
    background-color: $m;
    // COLOR DE FONDO

    // COLOR DEL ICONO
    color: white;
    // COLOR DEL ICONO

    border: 3px solid white;

    .efecto {

        background-color: white;
  
    }

    &:hover {

        border: 3px solid $m;

        .efecto {
            // COLOR DE FONDO CON HOVER
            background-color: $white;
            // COLOR DE FONDO CON HOVER
        }

        .icono {
            // COLOR DEL ICONO CON HOVER
            color: $m;
            // COLOR DEL ICONO CON HOVER
        }

    }
}

// ------------------------------------------------------BARRAS DE ESTADISTICAS------------------------------------------------------


// BARRAS DE ESTADISTICAS DEL INDEX

.pg1 {
    // width:95%;
    width:0;
    transition: all 2.5s;
}

.pg2 {
    // width:85%;
    width:0;
    transition: all 2.5s;
    transition-delay: .25s;
}

.pg3 {
    // width:80%;
    width:0;
    transition: all 2.5s;
    transition-delay: .5s;
}

.pg4 {
    // width:79%;
    width:0;
    transition: all 2.5s;
    transition-delay: 1s;
}

// BARRAS DE ESTADISTICAS DEL INDEX




// BARRAS DE ESTADISTICAS QUIENES SOMOS

.pgq1 {
    width:0;
    transition: all 2.5s;
}

.pgq2 {
    width:0;
    transition: all 2.5s;
    transition-delay: .25s;
}

.pgq3 {
    width:0;
    transition: all 2.5s;
    transition-delay: .5s;
}

.pgq4 {
    width:0;
    transition: all 2.5s;
    transition-delay: 1s;
}

.pgq5 {
    width:0;
    transition: all 2.5s;
    transition-delay: 1s;
}

// BARRAS DE ESTADISTICAS QUIENES SOMOS


// ------------------------------------------------------BARRAS DE ESTADISTICAS------------------------------------------------------


#formulario_clientes {

    .color_a_contacto {
        color: $c; 
        transition: all 250ms;

        &:hover {
            color: $m;
        }
    }
}